body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}
.row {
    display: flex;
    gap: 15px;
}
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.form-section, .doctor-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.form-section {
    width: 65%;
}
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
}

.gender {
    margin-bottom: 15px;
}

.slots {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.slot {
    padding: 8px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: white;
}

.slot.active {
    background: black;
    color: white;
}

.book-btn {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.doctor-section {
    width: 35%;
}

.doctor-card {
    border: 1px solid grey;
    display: flex;
    gap: 15px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.doctor-card.active {
    border: 2px solid green;
    background: white;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: grey;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    object-fit: cover;
    object-position: center;
}

.confirm-section {
    display: none;
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Headline */
.confirm-section h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Paragraphs */
.confirm-section p {
    margin: 5px 0;
    color: #555;
}

.confirm-section btn {
    margin: 5px 0;
    background-color: black;
}
